@media (min-width: 768px) and (max-width: 991.98px) {
    :root {
        --h1: 30px;
        --h2: 27px;
        --h3: 25px;
        --h4: 22px;
        --h5: 19px;
        --h6: 17px;
        --lg: 17px;
        --bs: 15px;
        --sm: 14px;
    }

    .home-slider .slider-bg {
        height: 460px;
    }

    .home-slider .bottom-overlay img {
        width: 80px;
    }

    .page-hero {
        height: 400px;
    }

    .contact .ec-logo {
        width: 120px;
    }
}

@media (max-width: 991.98px) {
    .main-header.shrink-header {
        padding: 8px 0 !important;
        animation: tb .7s linear 1;
        -webkit-animation: tb .7s linear 1;
    }

    @keyframes tb {
        0% {
            top: -32px;
        }
        100% {
            top: 0;
        }
    }

    .home-action p br {
        display: none;
    }

    .main-footer {
        text-align: center;
    }

    .about-quality .quality-content p.small {
        padding-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    :root {
        --h1: 28px;
        --h2: 25px;
        --h3: 23px;
        --h4: 20px;
        --h5: 18px;
        --h6: 16px;
        --lg: 16px;
        --bs: 15px;
        --sm: 14px;
    }

    .home-slider .slider-bg {
        height: 400px;
    }

    .home-slider .bottom-overlay img {
        width: 80px;
    }

    .page-hero {
        height: 320px;
    }

    .contact .ec-logo {
        width: 100px;
    }
}

@media (max-width: 767.98px) {
    .contact form .d-flex {
        display: block !important;
    }

    .contact form .d-flex .w-50 {
        width: 100% !important;
    }
}

@media (max-width: 575.98px) {
    :root {
        --h1: 26px;
        --h2: 22px;
        --h3: 20px;
        --h4: 19px;
        --h5: 17px;
        --h6: 15px;
        --lg: 15px;
        --bs: 14px;
        --sm: 13px;
    }

    .main-header .responsive .container-fluid .query {
        display: none;
    }

    .main-header .responsive-logo {
        width: 80px;
    }

    .main-header .responsive .offcanvas {
        width: 90%;
    }

    .home-slider .slider-bg {
        height: 340px;
    }

    .home-slider .bottom-overlay img {
        width: 70px;
    }

    .home-slider .slick-dots li {
        margin: 0 2px;
    }

    .home-slider .slick-dots li button {
        height: 4px;
        width: 20px;
    }

    .gallery {
        padding: 40px 0;
    }

    .page-hero {
        height: 240px;
    }

    .contact .ec-logo {
        display: none;
    }

    .client-area img {
        width: 90%;
    }
}